<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/tools/css/Site.css" rel="stylesheet" />

    <link href="~/tools/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/tools/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/tools/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/tools/Content/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/tools/Content/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/tools/Content/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/tools/Content/vendor/simple-datatables/style.css" rel="stylesheet" />
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/tools/Content/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/tools/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/tools/Content/vendor/chart.js/chart.min.js"></script>
    <script src="~/tools/Content/vendor/echarts/echarts.min.js"></script>
    <script src="~/tools/Content/vendor/quill/quill.min.js"></script>
    <script src="~/tools/Content/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/tools/Content/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/tools/Content/vendor/php-email-form/validate.js"></script>
</body>
</html>
